body{
  margin: 0;
  padding:0;
}
section{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, #7efaff,#13abc4);
  animation: animate 20s linear infinite;
}
@keyframes animate {
  0%{
    filter: hue-rotate(0deg);
  }
  50%{
    filter: hue-rotate(360deg);
  }
  100%{
    filter: hue-rotate(0deg);
  }
}
section:before{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  border-top:100vh solid transparent;
  border-left:100vh solid #fff;
  opacity: 0.1;
}
section:after{
  content:'';
  position: absolute;
  bottom: 0;
  right: 0;
  border-top:100vh solid transparent;
  border-right:100vh solid #fff;
  opacity: 0.1;
}
