.bg{
  color: linear-gradient(90deg, #7efaff,#13abc4);
  animation: animate 20s linear infinite;
}
@keyframes animate {
  0%{
    filter: hue-rotate(0deg);
  }
  50%{
    filter: hue-rotate(360deg);
  }
  100%{
    filter: hue-rotate(0deg);
  }
}
